*.py[co]

# Packages
.*.swp
.*.swo
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.idea

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
MANIFEST

release\.log\.utf-8\.tmp

# Eclipse
.project
.pydevproject
.settings

# Custom virtualenv location
venv

